.signupOuterContainer {
    display: flex;
    width: 350px;
    height: 60px;
    border: 1px solid var(--grey);
    justify-content: center;
    align-items: center;
}



.textBlack {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.textBlue {
    color: #4CB5F9;
    font-weight: bold;
}

/*Iphone XR*/
@media (max-width: 700px) {
 .signupOuterContainer {
    border: none;
 }
}

/*Ipad Air*/
@media (min-width: 820px) {
}

/*Ipad Air and Smaller*/
@media (max-width: 820px) {

  }