.footerContainer {
    width: 100vw;
    height: 135px;
    text-align: center;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--darkgrey)
}

.innerContainer {
    padding-top: 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.textContainerTop {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.footerText {
    margin-top:4px;
    margin-bottom:4px;
    margin-left: 10px;
    margin-right: 10px;
}

.textContainerBottom {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 12px;
}

/*Iphone XR*/
@media (max-width: 700px) {

}

/*Ipad Air*/
@media (min-width: 820px) {
}

/*Ipad Air and Smaller*/
@media (max-width: 820px) {

  }
