.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.formSpacing {
  height: 10px;
}

.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 152px;
  padding-bottom: 175px;
}

.footerDisplay {
  display: absolute;
}