.main {
  display: flex;
  flex-direction: column;
}

.formSpacing {
  height: 10px;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 840px;
}

.footerDisplay {

}

.phoneMockup {
  width: 380px;
  height: 628px;
  margin: 0 24px 12px 0;
}


/*Iphone XR*/
@media (max-width: 700px) {
  .mainContainer {
    margin-top: 0;
    margin-bottom: 0;
  }
}

/*Ipad Air*/
@media (min-width: 820px) {
  .footerDisplay {
    width: 800px;
    height: 160px;
  }
}

/*desktop*/
@media (min-width: 1920px) {
 
}

/*Ipad Air and Smaller*/
@media (max-width: 820px) {
  .phoneMockup {
    display: none;
  }
  .mainContainer {
    height: 990px;
    max-height: 990px;
  }
}