.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formSpacing {
  height: 10px;
}


.phoneMockup {
  width: 380px;
  height: 628px;
  margin: 0 24px 12px 0;
}


/*Iphone XR*/
@media (max-width: 700px) {
  .mainContainer {
    display: inline;
  }
}

/*Ipad Air*/
@media (min-width: 820px) {
  .mainContainer{
  margin-top: auto;
  }
}

/*desktop*/
@media (max-width: 1920px) {
  .mainContainer {
    max-height: 840px;
    padding: 100px 0;
  }
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footerDisplay {
    margin-top: 50px;
  }
}

/*Ipad Air and Smaller*/
@media (max-width: 820px) {
  .phoneMockup {
    display: none;
  }
  .mainContainer {
    height: 990px;
    max-height: 990px;
    padding: 0;
  }
}